.task {
  padding: 10px 5px 5px;
  border: solid 1px #333;
  margin: 2px auto;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;

  border: 1px solid #666;
  border-radius: 5px;
  width: 640px;
  box-sizing: border-box;
}

.task:hover {
  background-color: #fafafa;
}

.textWrapper {
  width: 580px;
  display: inline-block;
}

.done {
  text-decoration: line-through;
  color: #666;
}

div.text{
  height: 28px;
  max-height: 28px;
  padding-left: 15px;
  display: inline-block;
  overflow: hidden;

}

.deleteButton {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: inline-block;
  float: right;
  border-radius: 5px;
  text-align: center;
}

.deleteButton:hover {
  background-color: #ccc;
}
